<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ivamluz.marvelshelf">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MarvelShelfTheme">

        <provider
            android:name=".data.MarvelShelfProvider"
            android:authorities="${applicationId}">
        </provider>

        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MarvelShelfTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.activities.CharacterDetailsActivity"
            android:label="@string/title_details_activity"
            android:theme="@style/MarvelShelfTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.activities.ComicDetailsActivity"
            android:label="@string/title_details_activity"
            android:theme="@style/MarvelShelfTheme.NoActionBar">
        </activity>
    </application>

</manifest>